/.vscode
/.vs

/lib/staticlib/xlog/build
/lib/staticlib/test_xlog/build
/lib/dynamiclib/build
/lib/sharedlib/build

/ds/tree/build
/ds/map/build
/ds/array/build

/c++11/thread/build
/c++11/auto/build

/fstream/build
/fstream/data.txt

/web/socket/server/build
/web/socket/client/build
