/.vscode
/.vs

# 仓库地址: git@github.com:ludexianlib/git_cmake_linux.git

/lib/staticlib/xlog/build
/lib/staticlib/test_xlog/build
/lib/dynamiclib/build
/lib/sharedlib/build

/ds/tree/build
/ds/map/build
/ds/array/build

/modern_c++/thread/build
/modern_c++/auto/build
/modern_c++/knowledge/build

/fstream/build
/fstream/data.txt

/network_program/socket/server/build
/network_program/socket/client/build

/ipc/pipe/build
